.dn {
    display: none;
}

.result {
    margin-top: 15px;
}

.link_name_of_deadline {
    height: 120px;
    overflow: hidden;
}

.link_name_of_deadline a {
    color: #695ea5;

}

.link_name_of_deadline a:hover {
    color: #fb6b5b;
}

p.name_of_deadline {
    width: 215px;
    text-justify: inter-word;
    padding-right: 5px;
}

.rounded_progress {
    margin-bottom: 10px;
}

.progresses_container {
    margin-top: 5px;
}
.progress_block {
    height: 150px;
}