.dn {
    display: none;
}

.voting_field {
    margin-top: 15px;
}

.progress_striped {
    margin-top: 23px;
}

.result {
    margin-top: 10px;
}

.rounded_progress {
    margin-top: 15px;
}

.description {
    height: 140px;
    overflow: scroll;
}

.description p {
    word-wrap: break-word;
}
.deadline_name {
    color: #695ea5;
}
.deadline_name:hover {
    color: #fb6b5b;
}
