{{#extend "layout"}}

    {{#replace "content"}}
<h3>
    Welcome {{user.email}} in the 'Deadline' webpage.
</h3>

This application is really helpfull in every day. Here you can add you plans, goals.......
    {{/replace}}

{{/extend}}