{{#extend "layout"}}
    {{#replace "content"}}
        <header class="header bg-white b-b">
            <p>Change Password</p>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="/my_deadlines"> <span
                        class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">{{{gravatar user_email}}}</span>
                    Welcome {{user_name}}</a>

                </li>
                <li><a href="/login/remind_password">Change password</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading bg bg-success text-center"> Change password</header>
                    <div class="panel-body">
                        <form action="/login/change_passsword" method="post" class="bs-example form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="password">Old password</label>

                                <div class="col-lg-10">
                                    <input type="text" id="name" class="form-control" name="password"
                                           placeholder="Old password" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="new_password">New Password</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="new_password" name="new_password"
                                           placeholder="New Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="confirm_password">Confirm Password</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="confirm_password"
                                           name="confirm_password"
                                           placeholder="Confirm Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-sm btn-default">Change up</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}
{{/extend}}