{{#extend "layout"}}
    {{#replace "content"}}
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading bg bg-success text-center">&nbsp;
                    </header>
                    <div class="panel-body">

                        <article class="media">
                            <div class="media-body">
                                <p class="explain_description">Coming soon</p>

                            </div>
                        </article>

                        <h4>
                        </h4>
                    </div>
                </section>
            </div>
    {{/replace}}
{{/extend}}