{{#extend "layout"}}
    {{#replace "content"}}
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading bg bg-success text-center">Reset your password</header>
                    <p class="text-center">If you have forgotten your password, we will send you an email with new one.</p>

                    <div class="panel-body">
                        <form action="/login/forgot_password" method="post" class="bs-example form-horizontal">
                            <div class="form-group">

                                <div class="col-lg-10">
                                    <input type="text" id="email" class="form-control" name="email"
                                           placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-sm btn-default">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}
{{/extend}}