{{#extend "layout"}}
    {{#replace "content"}}
        <header class="header bg-white b-b">
            <p>Remind Password</p>
            {{# if user}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span
                            class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">{{{gravatar user.email}}}</span>
                        Welcome {{user.name}}</a>

                    </li>
                    <li><a href="/login/remind_password">Change password</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            {{/if}}
        </header>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading bg bg-success text-center">If you have forgotten your password, we will
                        send you an email with new one.
                    </header>
                    <div class="panel-body">
                        <form action="/login/remind_password" method="post" class="bs-example form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputEmail">Email</label>

                                <div class="col-lg-10">
                                    <input type="email" id="inputEmail" class="form-control" name="email"
                                           placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-sm btn-default">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}
{{/extend}}