{{#extend "layout"}}
    {{#replace "content"}}
        <header class="header bg-white b-b">
            <p>Statistics</p>
        </header>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel">
                    <header class="panel-heading bg bg-success text-center">&nbsp;
                    </header>
                    <div class="panel-body">

                        <table class="table table-striped m-b-none text-sm">
                            <tbody>

                            <tr>
                                <td>All deadlines</td>
                                <td>
                                </td>
                                <td>sdsadsad</td>

                            </tr>
                            <tr>
                                <td>Public</td>
                                <td>
                                    <div class="progress progress-sm progress-striped">
                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip"
                                             data-original-title="80%" style="width: 80%"></div>
                                    </div>
                                </td>
                                <td>sdsadsad</td>

                            </tr>
                            <tr>
                                <td>Private</td>
                                <td>
                                    <div class="progress progress-sm progress-striped">
                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip"
                                             data-original-title="40%" style="width: 40%"></div>
                                    </div>
                                </td>
                                <td>sdsadsad</td>
                            </tr>
                            <tr>
                                <td>Finished</td>
                                <td>
                                    <div class="progress progress-sm progress-striped">
                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip"
                                             data-original-title="20%" style="width: 20%"></div>
                                    </div>
                                </td>
                                <td>sdsadsad</td>
                            </tr>
                            <tr>
                                <td>In progress</td>
                                <td>
                                    <div class="progress progress-sm progress-striped">
                                        <div class="progress-bar progress-bar-success" data-toggle="tooltip"
                                             data-original-title="15%" style="width: 15%"></div>
                                    </div>
                                </td>
                                <td>sdsadsad</td>
                            </tr>
                            </tbody>
                        </table>

                        <h4>
                        </h4>
                    </div>
                </section>
            </div>
        </div>
    {{/replace}}
{{/extend}}



